html {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
}

div {
    font-size: 40pt;
    font-family: monospace;
}
